@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>This is home page</h1>
    <p class="lead">Welcome to SchoolMIS Project </p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            this project is initialized to learn how MVC works and basic html
        </p>
        
    </div>
   

</div>